.fa-sharp{ font-size: 50px; padding: 20px;}
.fa-solid{ font-size: 50px; padding: 20px; color: rgb(194, 30, 44);}
#AA{font-size: 50px; padding: 20px; color: green;}
#AB{font-size: 50px; padding: 20px;}