/*        a:active{color: rgb(99, 99, 50);} 
        a:active{color: rgb(167, 59, 17);} 
        a:active{color: rgb(7, 38, 214);} 
        a:active{color: rgb(138, 0, 96);} 
        a:active{color: rgb(235, 66, 0);} 
        a:active{color: rgb(0, 0, 0);} 

