

body{background-image: url(Image.jpg);}


#ah{background-color: greenyellow; font-style: italic; font-size: large; font-weight: bold;}
#aa{background-color:lightblue; font-style:initial; font-size: medium; font-weight:bolder; }
#ae{background-color:lightgrey; font-style:inherit; font-size:x-small; font-weight:lighter; }

.A{background-color:aqua; font-style: italic; font-size: large; font-weight: bold;}
.B{background-color:lightgrey; font-style:calc(98); font-size:x-small; font-weight:lighter; }


#one{
         border-color: black; padding: 5px; border-style: dotted;
    }

    #two{
        border-color: blue; padding: 10px; border-style:dashed;
    }
    #three{
        border-color: red; padding: 16px; border-style:ridge; 
    }
.classA{border-color: gray; padding: 16px; border-style:ridge;  }

.classB{border-color: orange; padding: 5px; border-style: ridge }