
body {
    background-color: seashell;
}

p1 {
    background-color: orange;
    color: black;
}

p2 {
    background-color: azure;
    color: darkseagreen;
}


#ah{background-color: greenyellow;}
#aa{background-color:lightblue;}
#ae{background-color:lightgrey;}

.A{background-color:aqua;}
.B{background-color:azure;}