       

       .box{ font-size: large;font-weight: bold ;border-width: 10px;border-style: solid; padding: 30px; text-align: center;
         }
        .list{ font-size: large;font-weight: bold ; text-align: center}
       p{ color: brown; font-size: 40px;}
      /*  a:active{color: rgb(99, 99, 50); font-size: larger;} 
      /* */  a:hover{color: rgb(167, 59, 17);font-size: larger; font-weight: bolder;} 
      /*   a:visited{color: rgb(7, 38, 214);font-size: larger;} 
      /*   a:active{color: rgb(138, 0, 96);font-size: larger;} 
      /*  a:active{color: rgb(235, 66, 0);font-size: larger;} 
      /*  a:active{color: rgb(0, 0, 0);font-size: larger;} 

 
*/ 
li:nth-child(even) {color: brown;}